* {
    margin:0;
    padding:0;
    font:12pt Myriad Pro;
}

body {
  background-color:#F7F7F9;
}

.field {
  display:flex;
  position:realtive;
  margin:5em auto;
  width:80%;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em Myriad Pro;
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em ;
}

.field>button {
  padding:0.6em 0.8em;
  background-color:#2ecc71;
  color:white;
  border:none;
}
.field>button:hover {
  cursor:pointer;
}
.logo{
  width: 300px;
  padding-top: 150px;
}
h1{
  color:#FFF;
  padding:10px;
  text-align:center;
  font-size:24px;
}
a, a:focus, a:hover {
    text-decoration: none;
}
.text-muted {
    color: #b3b3b3!important;
}
.notification-bar-details .notification-bar-title {
    display: block;
}
.m-b-1 {
    margin-bottom: 1rem!important;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.top-bar-search{
  margin: 0 !important;
}
